<footer>
  <div class="footer__container">
    <div><a class="footer__logo" href="#start">&lt;AT&gt;</a></div>
    <div class="footer__copyright">© Alex Tofan 2023</div>
    <div class="footer__social-media">
      <a href="https://github.com/AlexZoltanTofan" target="_blank"
        ><img src="assets/img/git.png" />
      </a>
      <a href="mailto:contact@alex-tofan.com" target="_blank">
        <img src="assets/img/mail.png"
      /></a>
      <a
        href="https://www.linkedin.com/in/alex-zoltan-tofan-912348229"
        target="_blank"
        ><img src="assets/img/linkedIn.png"
      /></a>
    </div>
  </div>
  <div class="imprint-container">
    <a (click)="scrollToTop()" routerLink="/imprint">Impressum</a>
  </div>
</footer>
