<section>
  <div class="container" id="about-me">
    <div class="container__about-me">
      <h2>About me</h2>
      <p>
        I am an enthusiastic Front-end developer based in Munich, Germany. I am
        driven by my passion for coding and creating user-friendly web
        solutions. Along the way, I have gained experience in software testing,
        which has provided me with a deep understanding of the quality assurance
        aspect of software development.
      </p>
      <div class="personal-info">
        <div class="img-container">
          <img src="assets/img/lamp.png" />
        </div>

        <p>
          I have experience in both individual and team-based project
          development. Whether working independently or as part of a team, I
          find joy in the process and would be happy to collaborate with you.
        </p>
      </div>
      <div class="personal-info">
        <div class="img-container">
          <img src="assets/img/puzzle-desktop.png" />
        </div>
        <p>
          I actively seek out challenging projects that allow me to push the
          boundaries of my abilities and further expand my knowledge in the
          ever-evolving field of modern technologies.
        </p>
      </div>
    </div>
    <div class="container__picture">
      <img
        class="container__picture--shadow"
        src="assets/img/blue-green-shadow.png"
      />
      <img class="container__picture--my" src="assets/img/my-picture1.png" />
    </div>
  </div>

  <div class="bg-bow-container">
    <img class="bg-bow" src="assets/img/bg-about.png" />
  </div>
</section>
