<section class="padding-block" id="start">
  <img class="blue-shadow" src="assets/img/blue-shadow.png" />
  <img class="green-shadow" src="assets/img/green-shadow.png" />

  <div class="position-column">
    <div class="intro-container">
      <div class="intro-container--first">
        <span>I am</span>
      </div>
      <div class="intro-container--second">
        <span class="intro-container--second--name">Alex-Zoltan Tofan</span>
        <span class="intro-container--second--job">FRONTEND DEVELOPER</span>
      </div>
    </div>
    <a href="#contact" class="contact-button">Let’s talk!</a>
  </div>

  <div class="scroll-down-container">
    <span>Scroll down</span>
    <img src="assets/img/down.png" />
  </div>

  <div class="social-media-container">
    <div class="social-media-container--line-blue"></div>
    <a href="https://github.com/AlexZoltanTofan" target="_blank"
      ><img src="assets/img/git.png" />
    </a>
    <a href="mailto: contact@alex-tofan.com" target="_blank">
      <img src="assets/img/mail.png"
    /></a>
    <a
      href="https://www.linkedin.com/in/alex-zoltan-tofan-912348229"
      target="_blank"
      ><img src="assets/img/linkedIn.png"
    /></a>
  </div>
</section>
