section {
  padding-bottom: 120px;
  position: relative;
  overflow: hidden;
}

.container__contact-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  h1 {
    display: inline;
    font-size: clamp(45px, 10vw, 90px);

    line-height: 75px;
    white-space: nowrap;
  }
}

.container__contact-line-blue {
  position: absolute;
  right: 0;
  width: 20%;
  border-radius: 20px;
  border: 3px solid #00bee8;
}

.container__contact-formular {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 6.25%;
  @media (max-width: 1210px) {
    flex-direction: column;
  }
}

.container__contact-formular-text {
  display: flex;
  flex-direction: column;
}

.container__contact-h2 {
  display: flex;
  align-items: center;
  h2 {
    font-size: clamp(23px, 6vw, 35px);
  }

  .container__skills-line-green {
    position: absolute;
    left: 0;
    width: 3%;
    border-radius: 20px;
    border: 3px solid #1ce6b6;
    padding-right: 5px;
  }
}

form {
  min-width: 50%;
  z-index: 3;
  position: relative;
}

.container__contact-formular-inputs {
  display: flex;
  flex-direction: column;

  padding: 0 10%;
  gap: 40px;
  button {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 23px;
    text-align: center;
    color: white;
    background-color: #00bee8;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    transition: transform 0.2s ease-in-out;
    font-size: clamp(18px, 3vw, 23px);
    margin: 0 auto;
    cursor: pointer;

    &:hover {
      background: #4b47ff;
      transform: scale(1.15);
    }
  }

  @media (max-width: 1210px) {
    padding: 0;
  }
}

.pics-confirm {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -125%);
  opacity: 0;
  animation-name: fade-in-out;
  animation-duration: 1s;
  animation-delay: 0s; /* Keine Verzögerung */
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translate(-50%, -125%) scale(0.8); /* Starte mit kleinerer Größe */
  }
  10% {
    opacity: 1;
    transform: translate(-50%, -125%) scale(1.2); /* Vergrößere auf 1.2 */
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -125%) scale(1.2); /* Behalte die Größe bei */
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -125%) scale(0.8); /* Ende mit kleinerer Größe */
  }
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  input {
    color: white;
    background-color: #141d2f;
    height: 50px;
    min-width: 70%;
    padding-inline: 20px;
    border: 1px solid #4b47ff;
    border-radius: 10px;

    &:hover {
      border: 1px solid #1ce6b6;
      box-shadow: 0 0 4px #1ce6b6;
    }
  }
  textarea {
    color: white;
    background-color: #141d2f;
    height: 200px;
    min-width: 70%;
    padding-inline: 20px;
    border: 1px solid #4b47ff;
    border-radius: 10px;
    padding: 20px;
    &:hover {
      border: 1px solid #1ce6b6;
      box-shadow: 0 0 4px #1ce6b6;
    }
  }
  span {
    position: absolute;
    bottom: -30px;
  }
}

.error-message {
  color: red;
}

.empty {
  border: 1px solid red !important;
}

.stop-pointer {
  cursor: not-allowed;
}

.sent-animation {
  animation: sent-animation 1s ease-in-out;
}

@keyframes sent-animation {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.blue-shadow-down {
  position: absolute;
  right: -280px;
  top: 417px;
  z-index: 1;
  pointer-events: none;
  @media (max-width: 1210px) {
    right: -557px;
  }
}

.up-button {
  position: absolute;
  display: flex;
  position: absolute;
  right: 10px;
  bottom: 10px;
  justify-content: flex-end;
  margin: 80px 40px 40px;
  a {
    z-index: 3;
  }
}
