<section class="padding-block" id="skills">
  <div class="container__skills">
    <div class="container__skills-columns">
      <div class="container__skills-icons">
        <div class="container__skills-row">
          <div class="container__skills-icons-coumns">
            <img src="assets/img/icons/Javascript.png" />
            <span>JavaScript</span>
          </div>
          <div class="container__skills-icons-coumns">
            <img src="assets/img/icons/angular.png" />
            <span>Angular</span>
          </div>
          <div class="container__skills-icons-coumns">
            <img src="assets/img/icons/type-script.png" />
            <span>TypeScript</span>
          </div>
          <div class="container__skills-icons-coumns">
            <img src="assets/img/icons/html.png" />
            <span>HTML</span>
          </div>
        </div>
        <div class="container__skills-row">
          <div class="container__skills-icons-coumns">
            <img src="assets/img/icons/git2.png" />
            <span>GIT</span>
          </div>
          <div class="container__skills-icons-coumns">
            <img src="assets/img/icons/Firebase.png" />
            <span>Firebase</span>
          </div>
          <div class="container__skills-icons-coumns">
            <img src="assets/img/icons/css.png" />
            <span>CSS</span>
          </div>
        </div>
        <div class="container__skills-row">
          <div class="container__skills-icons-coumns">
            <img src="assets/img/icons/scrum.png" />
            <span>Scrum</span>
          </div>
          <div class="container__skills-icons-coumns">
            <img src="assets/img/icons/api.png" />
            <span>Rest-Api</span>
          </div>
        </div>
        <div class="container__skills-row">
          <div class="container__skills-icons-coumns">
            <img src="assets/img/icons/material-design.png" />
            <span>Material design</span>
          </div>
        </div>
      </div>
      <div class="container__skills-content">
        <div class="container__skills-title">
          <h1>Skills</h1>
          <div class="container__skills-line"></div>
        </div>
        <p>
          I have gained experience in building projects with various front end
          technologies and concepts.
        </p>

        <a href="#contact">
          <button>Get in touch</button>
        </a>
      </div>
    </div>
  </div>
</section>
