body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  background-color: #141d2f;
  scroll-behavior: smooth;
  color: white;
  overflow-x: hidden;
  width: 100%;
}
